* {
  margin: 0;
  padding: 0;
}

body {
  /* color: bisque; */
  color: #F5FEFE;
  /* background-color: rgb(0, 0, 0); */
  background-color: #010E0E;
}


/* navbar styling */
#navcontainer {
  display: flex;
}

nav {
  position: fixed;
  top: 0;
  z-index: 10;
  /* background-color: rgb(19, 19, 19); */
  /* opacity: 0.8; */
  /* background-color: rgb(40, 7, 125); */
  background-color: #022725;
  display: block;
  width: 100%;
  opacity: 0.8;

}

nav ul {
  /* background-color: rgb(19, 19, 19); */
  display: flex;
  /* justify-content: center; */
  align-items: center;
  overflow: auto;
  width: 100%;
  margin-left: 40px;

}

li {

  list-style: none;
  margin: 1rem;
  margin-left: 2rem;
  transition: all 0.2s 0s;
  font-size: x-large;
  font-weight: bold;

}

li:hover {
  transform: scale(1.1);
}

li a:hover {
  cursor: pointer;
  border-bottom: 2px solid bisque;


}

li a {
  text-decoration: none;
  color: bisque;
}


/* home section designing */
#videocontainer {

  display: flex;
  height: 80%;
  justify-content: center;
  margin: auto;
  align-items: center;
  opacity: 0.5;

}


.mainheading {
  position: absolute;
  top: 2rem;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 2.5rem;
  text-align: center;

}

/*about section styling*/
#aboutimage {
  width: 20rem;
  border-radius: 2rem;
  /* position:absolute;
  right: 1rem; */
}

#about {
  padding-top: 10rem;
  background-color: rgb(5, 1, 21);
}
#aboutcontainer{
  display: flex;
  margin: auto;
  padding: 1rem;
  width: 90%;
  margin-top: 1rem;
}
/* project section styling */
#projectscontainer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  flex-wrap: wrap;
  padding: 2rem;
  justify-content: space-evenly;
  margin-bottom: 4rem;

}

.project {
  display: flex;
  flex-direction: column;
  /* width: 70%; */
  margin:0 2rem;
  border: 2px solid white;
  height: 33rem;
  padding: 1rem;
  margin-top: 2rem;
  border-radius: 2rem;
  transition: all 0.1s 0s;
}
.expand{
  height: 55rem;
  /* background-color: blue; */
}
.expand .projectcontent{
  margin-top: 8rem;
}


.project img {
  max-width: 100%;

  height: 35%;
}

.projectcontent {
  display: flex;
  width: 100%;
  margin: auto;
  justify-content: center;
  align-items: center;
  height: 20%;
  
  /* border: 2px solid white; */
}

.projectheading {
  height: 20%;
  text-align: center;
  display: flex;
  align-items: center;
  padding-top: 2rem;
  margin-top: 10px;
  overflow: auto;

}


/* .expandtitleonhover:hover{
    height: ;
} */


/* footer section styling */
#footercontainer {
  display: flex;
  justify-content: space-between;
  padding: 5rem;
  background-color: #022725;
}

.a-footer {
  text-decoration: none;
  color: bisque;
  cursor: pointer;
}

i {
  margin: 1rem;
  font-size: x-large;
}

#footerlogo{
  max-width:15rem; 
  border-radius:50rem;
}
/* about page styling */
#team {
  padding: 2rem 5rem;
  text-align: center;

}

.margintop {
  margin-top: 3rem;
}

/* membersection styling */
#membernav {
  display: flex;
  margin-top: 3rem;
  justify-content: space-evenly;
  padding: 1rem 2rem;
}

.membersnavbtn {
  padding: 0.7rem;
  width: 22%;
  font-size: x-large;
  cursor: pointer;
  height: 4rem;
  /* margin: 2rem 2rem; */
  border-radius: 1rem;
  /* background-image: linear-gradient(rgb(168, 110, 255), rgb(22, 20, 20)); */
  background-color: #29BBB5;
  transition: all 0.1s;
  /* color: bisque; */
  font-weight: bold;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

.membersnavbtn:hover {
  transform: scale(1.1);
}

.teammembers {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  flex-wrap: wrap;
  padding: 4rem;
  justify-content: space-evenly;
  margin-top: 2rem;
}

.temmember {
  background-color: #022725;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  text-align: center;
  /* padding:1rem; */
  align-items: center;
  width: 85%;
  height: 32rem;
  border: 5px solid white;
  box-shadow: 10px 10px 10px beige;
  border-radius: 4rem;
  margin-bottom: 5rem;
}

.memberimg {
  margin: 10px 0;
  height: 13rem;
  border-radius: 20rem;

}


.social img {
  width: 2rem;
  margin: 1rem;
  transition: all 0.1s;

  /* border : 2px solid white */
}

.social img:hover {
  transform: scale(1.1);
}

.membersabout {
  /* text-align: center; */
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.3rem;
  font-family: system-ui;
  margin: auto;
  /* color:aquamarine; */
  padding: 1rem;
  overflow: auto;
}

.socialbox {
  display: flex;
  height: 3rem;
  width: 100%;
  align-items: center;
  justify-content: center;
  position: relative;
  bottom: 0px;

}




/* utility classes */
.primary-h {
  font-family: Quicksand;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 4rem;
}

.middle-h {
  font-family: Quicksand;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
}

.secondary-h {
  display: flex;
  justify-content: center;

  font-size: 2.5rem;
}


.content {
  overflow-y: auto;
}



/* CSS */
.a-primary {
  position: relative;
  bottom: 0px;
  margin: auto;
  margin-top: 10px;
  align-items: center;
  /* background-image: linear-gradient(144deg,#AF40FF, #5B42F3 50%,#00DDEB); */
  background-color: #29BBB5;
  border: 0;
  border-radius: 8px;
  box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
  box-sizing: border-box;
  color: #FFFFFF;
  display: flex;
  font-family: Phantomsans, sans-serif;
  font-size: 20px;
  justify-content: center;
  line-height: 1em;
  max-width: 50%;
  min-width: 140px;
  padding: 10px 20px;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  cursor: pointer;
  transition: all 0.1s 0s;
}

.a-primary:active,
.a-primary:hover {
  outline: 0;
  transform: scale(1.1);
}


.followlinks {
  color: bisque;
  font-size: x-large;
  margin: 0.5rem 1rem;
}

.nohover:hover {
  transform: scale(1);
}
.highlight{
  background-color: #E70D15;
}

/* responsive design css */
@media only screen and (min-width: 425px) and (max-width:768px)  {
  .teammembers{
    grid-template-columns: 1fr 1fr;
  }
  #projectscontainer{
    grid-template-columns: 1fr 1fr;
  }
}

@media only screen and (max-width:426px){
  /* navbar styling */
  nav ul{
    margin-left: 0;
  }
  nav img{
    width: 5rem;
  }

  /* home section styling */
  .mainheading{
    justify-content: flex-start;
    padding-top: 5rem;
    font-size: 1rem;
    text-align: center;
    margin: auto;
    height: 5%;
    top: 2rem;
  }

  #videocontainer{
    padding-top: 1rem;
    margin-left: 1rem;
    height: 20rem;

  }

  /* about section  */
  #about{
    padding-top: 0;
  }
  #aboutimage{
    position: absolute;
    width: 100%;
    height: 50%;
    /* z-index: -1; */
    background: url("https://th.bing.com/th/id/OIP.G7xXV8ZFcMehUJHgNCF-XwAAAA?pid=ImgDet&rs=1") no-repeat center/cover;
    opacity: 0.3;
    /* border: 2px solid white; */
  }

  #projectscontainer{
    grid-template-columns: 1fr 1fr;
  }

  /* projects section styling */
  #projectscontainer{
    padding:0 3rem;
    /* border: 2px solid white; */
    margin-left: 1rem;
  }
  .project{
    margin: 0.5rem 0.5rem;
    
  }
  /* footer styling */
  #footerlogo{
    width: 5rem;
  }
  #footercontainer{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 0 1rem;
  }
  .fcontainer{
    margin: 1rem;
  }
  
  /* utility changes */
  .primary-h{
    font-size: 2rem;
  }
  .secondary-h{
    font-size: 2rem;
    text-align: center;
  }

  /* team page styling */
  #team{
    padding: 2rem 2rem;
    text-align: center;
  }
  #membernav{
    display: grid;
    margin-bottom: 0;
    grid-template-columns: 1fr 1fr;
  }
  .membersnavbtn{
    width:95%;
    /* padding-left: 0; */
    margin: 0.5rem 0;
    font-size: large;
    /* margin:0 2rem; */
  }
  .teammembers{
    grid-template-columns: 1fr ;
  }

  .temmember{
    
    margin:1rem 2rem;
    margin-left: 0;
    padding:0 2rem;
  }
  .memberimg{
    /* width: 100%; */
    height: 30%;
  }
}
@media only screen and (max-width:376px){
    #projectscontainer{
      display: grid;
      grid-template-columns: 1fr;
    }
}